@{
    ViewData["Title"] = "Home Page";
}
<h1>Doctor Who RPG: Adventures in Time and Space</h1>
<h2>Players Resource</h2>

<div class = "CharacterSheet">
    <p>
    Character Points: @ViewBag.charP<br>
    Skill Points: @ViewBag.skillP<br>
    Max Story Points: @ViewBag.storyP<br>
    </p>

    <h3>Biodata</h3>
    <p>Name:<br>
    Description</p>
    <h3>Attributes</h3>
     <form action = "attributes" method = "post"> 
    <p>Awareness: 
        @ViewBag.AwarenessVal
        <br>
        <input type="radio" name="Awareness" value="1"> 1
        <input type="radio" name="Awareness" value="2"> 2
        <input type="radio" name="Awareness" value="3"> 3
        <input type="radio" name="Awareness" value="4" checked> 4
        <input type="radio" name="Awareness" value="5"> 5
        <input type="radio" name="Awareness" value="6"> 6
        <input type="radio" name="Awareness" value="7"> 7
        <input type="radio" name="Awareness" value="8"> 8
        <input type="radio" name="Awareness" value="9"> 9
        <br>
    Coordination:
        @ViewBag.CoordinationVal
        <br>
        <input type="radio" name="Coordination" value="1"> 1
        <input type="radio" name="Coordination" value="2"> 2
        <input type="radio" name="Coordination" value="3"> 3
        <input type="radio" name="Coordination" value="4" checked> 4
        <input type="radio" name="Coordination" value="5"> 5
        <input type="radio" name="Coordination" value="6"> 6
        <input type="radio" name="Coordination" value="7"> 7
        <input type="radio" name="Coordination" value="8"> 8
        <input type="radio" name="Coordination" value="9"> 9
        <br>
    Ingenuity:
        @ViewBag.IngenuityVal
        <br>
        <input type="radio" name="Ingenuity" value="1"> 1
        <input type="radio" name="Ingenuity" value="2"> 2
        <input type="radio" name="Ingenuity" value="3"> 3
        <input type="radio" name="Ingenuity" value="4" checked> 4
        <input type="radio" name="Ingenuity" value="5"> 5
        <input type="radio" name="Ingenuity" value="6"> 6
        <input type="radio" name="Ingenuity" value="7"> 7
        <input type="radio" name="Ingenuity" value="8"> 8
        <input type="radio" name="Ingenuity" value="9"> 9
        <br>
    Presence:
        @ViewBag.PresenceVal
        <br>
        <input type="radio" name="Presence" value="1"> 1
        <input type="radio" name="Presence" value="2"> 2
        <input type="radio" name="Presence" value="3"> 3
        <input type="radio" name="Presence" value="4" checked> 4
        <input type="radio" name="Presence" value="5"> 5
        <input type="radio" name="Presence" value="6"> 6
        <input type="radio" name="Presence" value="7"> 7
        <input type="radio" name="Presence" value="8"> 8
        <input type="radio" name="Presence" value="9"> 9
        <br>
    Resolve:
         @ViewBag.ResolveVal
        <br>
        <input type="radio" name="Resolve" value="1"> 1
        <input type="radio" name="Resolve" value="2"> 2
        <input type="radio" name="Resolve" value="3"> 3
        <input type="radio" name="Resolve" value="4" checked> 4
        <input type="radio" name="Resolve" value="5"> 5
        <input type="radio" name="Resolve" value="6"> 6
        <input type="radio" name="Resolve" value="7"> 7
        <input type="radio" name="Resolve" value="8"> 8
        <input type="radio" name="Resolve" value="9"> 9
        <br>
    Strength:
        @ViewBag.StrengthVal
         <br>
        <input type="radio" name="Strength" value="1"> 1
        <input type="radio" name="Strength" value="2"> 2
        <input type="radio" name="Strength" value="3"> 3
        <input type="radio" name="Strength" value="4" checked> 4
        <input type="radio" name="Strength" value="5"> 5
        <input type="radio" name="Strength" value="6"> 6
        <input type="radio" name="Strength" value="7"> 7
        <input type="radio" name="Strength" value="8"> 8
        <input type="radio" name="Strength" value="9"> 9
        <br>
    </p>
     <button type="submit">Submit</button><br> 
     </form> 
    <h3>Skills</h3>
    <p>Athletics:<br>
    Convince:<br>
    Craft:<br>
    Medicine:<br>
    Fighting:<br>
    Knowledge:<br>
    Marskman:<br>
    Medicine:<br>
    Science:<br>
    Subterfuge:<br>
    Survival:<br>
    Technology:<br>
    Transport:<br>
    </p>
    <h3>Traits</h3>
    <br>
    <h3>Stuff</h3>
    <br>
    
</div>