@{
    ViewData["Title"] = "Home Page";
}
<h1>Doctor Who RPG: Adventures in Time and Space</h1>
<h2>Players Resource</h2>

<div class = "CharacterSheet">
    <p>
    Character Points: @ViewBag.charP<br>
    Skill Points: @ViewBag.skillP<br>
    Max Story Points: @ViewBag.storyP<br>
    </p>

    <h3>Biodata</h3>
    <p>Name:<br>
    Description</p>
    <h3>Attributes</h3>
     <form action = "attributes" method = "post"> 
    <p>Awareness: 
        @ViewBag.Awareness
        @Html.Raw(@ViewBag.AwarenessButtons)
    Coordination:
        @ViewBag.Coordination
        @Html.Raw(@ViewBag.CoordinationButtons)
    Ingenuity:
        @ViewBag.Ingenuity
        @Html.Raw(@ViewBag.IngenuityButtons)
    Presence:
        @ViewBag.Presence
        @Html.Raw(@ViewBag.PresenceButtons)

    Resolve:
         @ViewBag.Resolve
        @Html.Raw(@ViewBag.ResolveButtons)

    Strength:
        @ViewBag.Strength
        @Html.Raw(@ViewBag.StrengthButtons)

    </p>
     <button type="submit">Submit</button><br> 
     </form> 
    <h3>Skills</h3>
    <p>Athletics:<br>
    Convince:<br>
    Craft:<br>
    Medicine:<br>
    Fighting:<br>
    Knowledge:<br>
    Marskman:<br>
    Medicine:<br>
    Science:<br>
    Subterfuge:<br>
    Survival:<br>
    Technology:<br>
    Transport:<br>
    </p>
    <h3>Traits</h3>
    <br>
    <h3>Stuff</h3>
    <br>
    
</div>